<a href="https://colab.research.google.com/github/SahilK-027/tensor-flow/blob/main/classification_DNNClassifier_(Deep_Neural_Network).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Classification**
In machine learning, classification is a supervised learning concept which basically categorizes a set of data into classes. The most common classification problems are â€“ speech recognition, face detection, handwriting recognition, document classification, etc.

# **Setup and Imports**

In [24]:
%tensorflow_version 2.x

Colab only includes TensorFlow 2.x; %tensorflow_version has no effect.

In [25]:
from __future__ import absolute_import, division, print_function, unicode_literals


import tensorflow as tf

import pandas as pd

# **Data**

**This specific dataset seperates flowers into 3 different classes of species.**
*   Setosa
*   Versicolor
*   Virginica

**The information about each flower is the following.**

- sepal length
- sepal width
- petal length
- petal width

In [26]:
CSV_COLUMN_NAMES = ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species']
SPECIES = ['Setosa', 'Versicolor', 'Virginica']

In [27]:
train_path = tf.keras.utils.get_file(
    "iris_training.csv", "https://storage.googleapis.com/download.tensorflow.org/data/iris_training.csv")
test_path = tf.keras.utils.get_file(
    "iris_test.csv", "https://storage.googleapis.com/download.tensorflow.org/data/iris_test.csv")

train = pd.read_csv(train_path, names=CSV_COLUMN_NAMES, header=0)
test = pd.read_csv(test_path, names=CSV_COLUMN_NAMES, header=0)
# Using keras (a module inside of TensorFlow) to grab our datasets and read them into a pandas dataframe

In [28]:
train_y = train.pop('Species')
test_y = test.pop('Species')
train.head() # the species column is now gone

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          6.4         2.8          5.6         2.2
1          5.0         2.3          3.3         1.0
2          4.9         2.5          4.5         1.7
3          4.9         3.1          1.5         0.1
4          5.7         3.8          1.7         0.3

# **INPUT FUNCTION**

In [29]:
def input_fn(features, labels, training=True, batch_size=256):
    # Convert the inputs to a Dataset.
    dataset = tf.data.Dataset.from_tensor_slices((dict(features), labels))

    # Shuffle and repeat if you are in training mode.
    if training:
        dataset = dataset.shuffle(1000).repeat()
    
    return dataset.batch(batch_size)

# **Feature Columns**

In [30]:
# Feature columns describe how to use the input.
my_feature_columns = []
for key in train.keys():
    my_feature_columns.append(tf.feature_column.numeric_column(key=key))
print(my_feature_columns)

[NumericColumn(key='SepalLength', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='SepalWidth', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='PetalLength', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='PetalWidth', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

# **Building Model**

**USING:** DNN Classifier

A deep neural network (DNN) is an ANN with multiple hidden layers between the input and output layers.

In [31]:
# Build a DNN with 2 hidden layers with 30 and 10 hidden nodes each.
classifier = tf.estimator.DNNClassifier(
    feature_columns=my_feature_columns,
    # Two hidden layers of 30 and 10 nodes respectively.
    hidden_units=[30, 10],
    # The model must choose between 3 classes. i.e  Setosa , Versicolor, Virginica
    n_classes=3)

WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpracw7z7v

# **Training Model**

In [32]:
classifier.train(
    input_fn=lambda: input_fn(train, train_y, training=True),
    steps=5000)
# Steps here are similar to epochs
# LAMDA FUNCTION IS ONE LINER FUNCTION

# **Evaluation**

In [33]:
eval_result = classifier.evaluate(
    input_fn=lambda: input_fn(test, test_y, training=False))

print('\nTest set accuracy: {accuracy:0.3f}\n'.format(**eval_result))

Test set accuracy: 0.633

# **PREDICTIONS**

In [36]:
def input_fn(features, batch_size=256):
    # Convert the inputs to a Dataset without labels.
    return tf.data.Dataset.from_tensor_slices(dict(features)).batch(batch_size)


# Taking input from user
features = ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth']
predict = {}

print("Please type numeric values as prompted.")
for feature in features:
  valid = True
  while valid: 
    val = input(feature + ": ")
    if not val.isdigit(): valid = False

  predict[feature] = [float(val)]

# Prediction
predictions = classifier.predict(input_fn=lambda: input_fn(predict))
for pred_dict in predictions:
    class_id = pred_dict['class_ids'][0]
    probability = pred_dict['probabilities'][class_id]

    print('Prediction is "{}" ({:.1f}%)'.format(
        SPECIES[class_id], 100 * probability))\

Please type numeric values as prompted.
SepalLength: 2.4
SepalWidth: 3.5
PetalLength: 2.7
PetalWidth: 1.6
Prediction is "Setosa" (53.1%)

The above output simply means for flower with 
- SepalLength: 2.4
- SepalWidth: 3.5
- PetalLength: 2.7
- PetalWidth: 1.6

THe class name : ***Setosa***